 <div ng-hide="show" class="home">
    <div class="heading"> 
      <h1 class="app-name">Brunch &Booze</h1>
      <div class="textbox">
        <p class="about">Find food and drink pairings for the tastiest brunch ever! Simply search for a food or drink item to see a list of suggested pairings.</p>
      </div>
    </div>
    <div class="container">
      <div class="brunchContainer">
        <img src="https://s3-us-west-1.amazonaws.com/brunchandboozeimages/stackofpancakesicon.png" alt="Stack of pancakes" class="icon">
        <form ng-submit="searchBrunch(foodName)">
          <input type="text" class="brunchInput" ng-model="foodName" placeholder="food name...">
        </form>
      </div> 
      <p class="rwd-or">Or</p> 
      <div class="boozeContainer">
        <img src="https://s3-us-west-1.amazonaws.com/brunchandboozeimages/cocktailglassicon.png" alt="Cocktail Glass" class="icon">
        <form ng-submit="searchBooze(drinkName)">
          <input type="text" class="boozeInput" ng-model="drinkName" placeholder="drink name...">
        </form>
      </div>
      <p ng-show="notFound" class="notFound">Oh no! </br> We don't have a pairing for that. </br> Feel free to search again!</p>
    </div>
  </div>

  <div ng-show="show" class="pairings">
    <div class="innerbox">
      <div ng-hide="brunchSearchName" ng-repeat="item in theBrunchItem" class="results">
        <img src="{{item.image}}" class="circle">
        <h2>You searched for {{item.name}}. Yum! <br/> Here's what we think would pair well with that.</h2>
      </div>
      <div ng-repeat="pairs in thePairedDrinks" class="pair">
        <img src="{{pairs.image}}" class="recipeImage recipe">
        <div class="recipeInfo recipe">
          <h3 class="itemName">{{pairs.name}}</h3>
         <div class="ingredients" ng-repeat="ingredient in pairs.ingredients">
            <p>{{ingredient}}</p>
          </div>
          <p class="instructions">{{pairs.instructions}}</p>
          <p class="credits">{{pairs.credits}}</p>
        </div>
      </div>
      <div ng-hide="boozeSearchName" ng-repeat="item in theBoozeItem" class="results">
         <img src="{{item.image}}" class="circle">
        <h2>You searched for {{item.name}}. Yum! <br/> Here's what we think would pair well with that.</h2>
      </div>
      <div ng-repeat="pairs in thePairedFoods" class="pair">
        <img src="{{pairs.image}}" class="recipeImage recipe ">
        <div class="recipeInfo recipe">
          <h3 class="itemName">{{pairs.name}}</h3>
          <div class="ingredients" ng-repeat="ingredient in pairs.ingredients">
            <p>{{ingredient}}</p>
          </div>
          <p class="instructions">{{pairs.instructions}}</p>
          <p class="credits">{{pairs.credits}}</p>
        </div>
      </div>
    </div>
  </div>
  <div  class="wrapper">
    <a ng-show="show" ng-click="searchAgain()" class="searchAgain">Search again?</a>
  </div>
