 <div ng-hide="show" class="home">
    <div class="heading"> 
      <h1>Brunch &Booze</h1>
      <div class="textbox">
        <p class="about">Find food and drink pairings for the tastiest brunch ever! Simply search for a food or drink item to see a list of suggested pairings.</p>
      </div>
    </div>
    <div class="container">
      <div class="brunchContainer">
        <img src="//lh6.googleusercontent.com/-YSV5sNwfW-g/VS1kO9JAn0I/AAAAAAAAPxY/bDn0Jz8pBi4/w78-h87-no/Untitled-1_03.png" alt="Stack of pancakes">
        <form ng-submit="searchBrunch(foodName)">
          <input type="text" class="brunchInput" ng-model="foodName" placeholder="food name...">
        </form>
      </div>  
      <div class="boozeContainer">
        <img src="//lh4.googleusercontent.com/-uuczc-rX-T8/VS1kTqfo_hI/AAAAAAAAPxg/CSct9-sWZvo/w65-h98-no/Untitled-1_06.png" alt="Cocktail Glass">
        <form ng-submit="searchBooze(drinkName)">
          <input type="text" class="boozeInput" ng-model="drinkName" placeholder="drink name...">
        </form>
      </div>
      <p ng-show="notFound" class="notFound">Oh no! </br> We don't have a pairing for that. </br> Feel free to search again!</p>
    </div>
  </div>

  <div ng-show="show" class="pairings">
    <div class="innerbox">
      <div ng-hide="brunchSearchName" ng-repeat="item in theBrunchItem" class="results">
        <img src="{{item.image}}" class="circle">
        <h2>You searched for {{item.name}}. Yum! <br/> Here's what we think would pair well with that.</h2>
      </div>
      <div ng-repeat="pairs in thePairedDrinks">
        <img src="{{pairs.image}}" class="tempImage recipe">
        <div class="recipeInfo recipe">
          <h3 class="itemName">{{pairs.name}}</h3>
          <p class="ingredients">
            1 thing you need<br/>
            2 another thing you need<br/> 
            3 something else you need<br/>     
          </p>
          <p class="instructions">
            This is how you make it and then once it's made enjoy it! and more stufff alafjdslkjfojflksdjf djfklajf jfkdsljfa fjdaldf jsjfksdl jfdksafjsdk jdksjaf jfoewjfdsljf oeajfldjsiofepajfkdsjioafjeoiafdsjfioweaf jkdsj;f
          </p>
        </div>
      </div>
      <div ng-hide="boozeSearchName" ng-repeat="item in theBoozeItem" class="results">
         <img src="{{item.image}}" class="circle">
        <h2>You searched for {{item.name}}. Yum! <br/> Here's what we think would pair well with that.</h2>
      </div>
      <div ng-repeat="pairs in thePairedFoods">
        <img src="{{pairs.image}}" class="tempImage recipe ">
        <div class="recipeInfo recipe">
          <h3 class="itemName">{{pairs.name}}</h3>
          <p class="ingredients">
            1 thing you need<br/>
            2 another thing you need<br/> 
            3 something else you need<br/>     
            </p>
          <p class="instructions">
            This is how you make it and then once it's made enjoy it! and more stufff alafjdslkjfojflksdjf djfklajf jfkdsljfa fjdaldf jsjfksdl jfdksafjsdk jdksjaf jfoewjfdsljf oeajfldjsiofepajfkdsjioafjeoiafdsjfioweaf jkdsj;f
          </p>
        </div>
      </div>
    </div>
  </div>
  <div  class="wrapper">
    <a ng-show="show" ng-click="searchAgain()" class="searchAgain">Search again?</a>
  </div>
