<div>
  <h2>Brunch Recipes</h2>
  <div class="item" ng-repeat="brunch in brunchList">
    <div class="image"></div>
    <div class="recipe">
      <h4>{{brunch.name}}</h4>
      <p>{{brunch.ingredients}}</p>
      <p>{{brunch.instructions}}</p>
    </div>
  </div>
</div>
<div>
  <h2>Booze Recipes</h2>
  <div class="item" ng-repeat="booze in boozeList">
    <div class="image"></div>
    <div class="recipe">
      <h4>{{booze.name}}</h4>
      <p>{{booze.ingredients}}</p>
       <p>{{booze.instructions}}</p>
    </div>
  </div>
</div>
